.main-nav {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 48px #0000000f;
  opacity: 1;
}

.logo {
  top: 30px;
  left: 119px;
  width: 108px;
  height: 27px;
  text-align: left;
  font: normal normal 900 20px/27px Avenir;
  letter-spacing: 1.8px;
  color: #5861ae;
  text-transform: uppercase;
  opacity: 1;
}

.home {
  top: 0px;
  width: 112.5px;
  height: 80px;
  
}

.home1 {
  top: 34px;
  left: 1021px;
  width: 42px;
  height: 19px;
  text-align: center;
  font: normal normal normal 14px/19px Avenir;
  letter-spacing: 1.05px;
  color: #565657;
  text-transform: capitalize;
  opacity: 1;
}
